{% for frame in reviewFramesNew %}
  <div class="row align-items-start align-items-md-center frame">
    <div class="col-6 col-md-6 col-xl-5">
      <div class="row align-items-start align-items-md-center">
        <div class="col-12 col-md-5 col-xl-4">
          <img src="{{frame.src}}" alt="{{frame.alt}}">
        </div> <!-- /.col -->
        <div class="col-12 col-md-7 col-xl-8 frame-description">
          <p class="mb-0 line-height-normal">
            <small>
              {{frame.brand}}
              <strong>
                {{frame.model}}
              </strong>
              <br class="d-none d-xl-block"/>
              {{frame.desc}} {{frame.details}}
            </small>
          </p>
        </div> <!-- /.col -->
      </div> <!-- /.row -->
    </div> <!-- /.col -->

    <div class="col-6 col-md-6 col-xl-7">
      <div class="row align-items-start align-items-lg-center">
        <div class="col-12 col-md-7 col-lg-6 col-xl-auto">
          <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" name="new-frames-{{loop.index}}" id="new-frames-invoice-restock-{{loop.index}}" value="option" checked>
            <label class="custom-control-label" for="new-frames-invoice-restock-{{loop.index}}">
              <small>
                Invoice and Restock
              </small>
            </label>
            <sup data-toggle="modal" data-target="#InvoiceAndRestockModal">
              ?
            </sup>
          </div> <!-- /.custom-control -->
        </div>  <!-- /.col -->
        <div class="col-12 col-md-5 col-lg-6 col-xl-auto">
          <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" name="new-frames-{{loop.index}}" id="new-frames-invoice-only-{{loop.index}}" value="option">
            <label class="custom-control-label" for="new-frames-invoice-only-{{loop.index}}">
              <small>Invoice Only</small>
            </label>
            <sup data-toggle="modal" data-target="#InvoiceOnlyModal">
              ?
            </sup>
          </div> <!-- /.custom-control -->
        </div> <!-- /.col -->
        <div class="col-12 col-md-7 col-lg-6 col-xl-auto">
          <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" name="new-frames-{{loop.index}}" id="new-frames-returned-{{loop.index}}" value="option">
            <label class="custom-control-label" for="new-frames-returned-{{loop.index}}">
              <small>Returned to Altair</small>
            </label>
            <sup data-toggle="modal" data-target="#ReturnedModal">
              ?
            </sup>
          </div> <!-- /.custom-control -->
        </div> <!-- /.col -->
        <div class="col-12 col-md-5 col-lg-6 col-xl-auto">
          <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" name="new-frames-{{loop.index}}" id="new-frames-not-received-{{loop.index}}" value="option">
            <label class="custom-control-label" for="new-frames-not-received-{{loop.index}}">
              <small>Not Received</small>
            </label>
            <sup data-toggle="modal" data-target="#NotReceivedModal">
              ?
            </sup>
          </div> <!-- /.custom-control -->
        </div> <!-- /.col -->
      </div> <!-- /.row -->
    </div> <!-- /.col -->
  </div> <!-- /.row -->
<hr class="my-2">
{% endfor %}