<div class="brand-side-nav mb-4">
  <div class="d-flex d-md-none align-items-center pb-4">
    <a class="pr-3 nav-toggle-side" href="#">&#9776;</a>
    <p class="mb-0">
      Altair 00 of 00
    </p>
  </div> <!-- /.col -->
  <nav class="d-md-block">
    <a class="d-flex justify-content-between font-weight-bold mb-2" href="#">
      Altair
      <span class="pl-2">
        <small>00 of 00</small>
      </span>
    </a>
    <a class="d-flex justify-content-between font-weight-bold mb-2" href="#">
      Anne Klein
      <span class="pl-2">
        <small>00 of 00</small>
      </span>
    </a>
    <a class="d-flex justify-content-between font-weight-bold mb-2" href="#">
      bebe
      <span class="pl-2">
        <small>00 of 00</small>
      </span>
    </a>
    <a class="d-flex justify-content-between font-weight-bold mb-2" href="#">
      Calvin Klein Jeans
      <span class="pl-2">
        <small>00 of 00</small>
      </span>
    </a>
    <a class="d-flex justify-content-between font-weight-bold mb-2" href="#">
      Cole Haan
      <span class="pl-2">
        <small>00 of 00</small>
      </span>
    </a>
    <a class="d-flex justify-content-between font-weight-bold mb-2" href="#">
      Genesis
      <span class="pl-2">
        <small>00 of 00</small>
      </span>
    </a>
    <a class="d-flex justify-content-between font-weight-bold mb-2" href="#">
      JOE Joseph Abboud
      <span class="pl-2">
        <small>00 of 00</small>
      </span>
    </a>
    <a class="d-flex justify-content-between font-weight-bold mb-2" href="#">
      Joseph Abboud
      <span class="pl-2">
        <small>00 of 00</small>
      </span>
    </a>
    <a class="d-flex justify-content-between font-weight-bold mb-2" href="#">
      Kilter
      <span class="pl-2">
        <small>00 of 00</small>
      </span>
    </a>
    <a class="d-flex justify-content-between font-weight-bold mb-2" href="#">
      Lenton &amp; Rusby
      <span class="pl-2">
        <small>00 of 00</small>
      </span>
    </a>
    <a class="d-flex justify-content-between font-weight-bold mb-2" href="#">
      Otis &amp; Piper
      <span class="pl-2">
        <small>00 of 00</small>
      </span>
    </a>
    <a class="d-flex justify-content-between font-weight-bold mb-2" href="#">
      Revlon
      <span class="pl-2">
        <small>00 of 00</small>
      </span>
    </a>
    <a class="d-flex justify-content-between font-weight-bold mb-2" href="#">
      Sunlites
      <span class="pl-2">
        <small>00 of 00</small>
      </span>
    </a>
    <a class="d-flex justify-content-between font-weight-bold mb-2" href="#">
      New Brand
      <span class="pl-2">
        <small>00 of 00</small>
      </span>
    </a>
  </nav>
</div> <!-- /.brand-nav -->