<div class="inventory-summary">
  <h5>
    Inventory Summary
  </h5>
  <p>
    <strong>000</strong> In Stock <sup>?</sup><br>
    <strong>000</strong> Invoice and Restock <sup>?</sup><br>
    <strong>000</strong> Invoice Only <sup>?</sup><br>
    <strong>000</strong> Returned to Altair <sup>?</sup><br>
    <strong>000</strong> Not Received <sup>?</sup><br>
    <span class="text-primary"><strong>000</strong> Total Inventory</span> <sup>?</sup><br>
  </p>
</div>