{% extends "layout.njk" %}
{% set active_page = "submit" %}
{% import "../templates/components/header-title.njk" as title %}
{% block content %}

  {% include "components/header.njk" %}
  {{
    title.titleInfo (
      'Submit',
      'Your Inventory',
      '
        Please revie your inventory results,
        complete the form, and click <strong>Submit Inventory</strong>.
      ',
      'false'
    )
  }}

  <main class="pt-4">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5">
          {% include "components/inventory-summary.njk" %}
          {% include "components/submit-inventory-form.njk" %}
        </div> <!-- /.col -->
        <div class="col-12 col-md-7">
          <div class="row">
            <div class="col-12 col-xl-6">
              {% include "components/invoice-summary.njk" %}
            </div> <!-- /.col -->
            <div class="col-12 col-xl-6">
              {% include "components/restock-summary.njk" %}
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div>  <!-- /.col -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </main>

  {% include "components/main-nav.njk" %}

  <!-- Modals -->
  {% include "components/modals/modal-in-stock.njk" %}
  {% include "components/modals/modal-invoice-and-restock.njk" %}
  {% include "components/modals/modal-invoice-only.njk" %}
  {% include "components/modals/modal-return-to-altair.njk" %}
  {% include "components/modals/modal-not-received.njk" %}
  {% include "components/modals/modal-total-inventory.njk" %}

{% endblock %}