<!-- Modal - New Frame -->
<div class="modal fade" id="NewFrameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="mb-3">New Frames</h5>
        <p class="mb-0">
          New Frames.... Need content...
        </p>
      </div>
    </div>
  </div>
</div> <!-- /.modal -->