<!-- Modal - Return to Altair -->
  <div class="modal fade" id="ReturnedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h5 class="mb-3">Returned to Altair</h5>
          <p>
            You will be sending your frames back to Altair.
          </p>
          <p class="mb-0">
            Standard shipping fees apply.
          </p>
        </div>
      </div>
    </div>
  </div> <!-- /.modal -->