<!-- Modal - Not Received -->
<div class="modal fade" id="NotReceivedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="mb-3">Not Received</h5>
        <p class="mb-0">
          You did not get your Altair frames.
        </p>
      </div>
    </div>
  </div>
</div> <!-- /.modal -->